@use '../../global' as g;

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.midder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  // max-height: 50vh;
}

%innerBase {
  cursor: pointer;
  // margin: 0.5rem 1rem;
  margin: 0.5rem 2vw;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
  // &:hover {
  //   transform: scale(1.15);
  // }

  &:hover {
    transform: scale(1.05);
  }
}

.innerDefault {
  @extend %innerBase;
}

// .innerDisable {
//   @extend %innerBase;
//   opacity: 0.3;
// }

// .input {
//   display: none;
// }
