.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  // scale: 0.8;
  // width: 30px;
  svg {
    // width: 40px;
    width: 10vw;
    max-width: 50px;
    // width: unquote('min(150px, 25vw)');
    height: auto;
  }
}

.name {
  padding-bottom: 0.3rem;
  margin: 0 1rem;
  // font-size: 1.5rem;
  font-size: unquote('min(1.5rem, 4vw)');
  word-break: break-all;
}
