@use '../../global' as g;

.input {
  padding: 8px;
  text-align: center;
  width: 250px;
  background-color: #d1d1d1;
  color: #00297c;
  font-weight: 900;
  border: solid 4px #ffffff;
  border-radius: 25px;
}
