@use '../../../global' as g;

// .topLogo {
//   margin: 50px 0;
// }

.headerTitle {
  margin: 50px 0;
}

.topInformation {
  margin: 0 3rem;
  text-align: center;
  @include g.wbrset;
}

.flexInformation {
  margin: 0 3rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include g.wbrset;
}

.largeInformation {
  margin: 15vh 20px;
  font-size: 3rem;
}

// .footer {
//   position: fixed;
//   bottom: 0;
//   width: 100vw;

//   &__flexwrapper {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 0 30px 30px;
//   }
// }

// .nameInput {
//   margin: 0;
//   &__label {
//     margin: 0 0 20px;
//     text-align: center;
//   }
//   &__input {
//     text-align: center;
//   }
// }

// .iconSelect {
//   margin: 80px 0 0;
//   &__label {
//     margin: 0 0 20px;
//     text-align: center;
//   }
// }

// .playerPanel {
//   margin: 0 0 50px;
//   &__panel {
//     margin: 40px 0;
//   }
// }

.bottomButtons {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 100px;
  margin: 50px 0 0;
  &__button_first {
    margin: 0;
  }
  &__button {
    margin: 60px 0 0;
  }
}

.roleAssignment {
  &Start {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
